@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root  {
    --color-primary: #9792E4;
    --color-secondary: #0084FD;
    --color-secondary-light: #B5DDFF;
    --color-tertiary: #FDC15F;
}

body {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

p {
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.t-color-white {
    color: white;
}

.t-color-secondary {
    color: var(--color-secondary);
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
}

.centered-text {
    text-align: center;
}

.m-bottom-default {
    margin-bottom: 1rem;
}

.m-bottom-large {
    margin-bottom: 2rem;
}

.m-bottom-larger {
    margin-bottom: 3rem;
}

.m-bottom-huge {
    margin-bottom: 6rem;
}

.border-radius-default {
    border-radius: 1rem;
}

.border-radius-large {
    border-radius: 2rem;
}

.btn-long {
    padding: 0.5rem 3rem;
}

.btn-circle {
    padding: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
    width: 960px;
    margin: 0 auto;
    /* DEBUG */
    border: 1px solid red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-p-large {
    padding: 4rem 6rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.align-end {
    align-self: flex-end;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
}

.gap-default {
    --gap: 1rem;
}

.gap-no-gap {
    --gap: 0;
}

.gap-large {
    --gap: 4rem;
}

.col-1 {
    flex-basis: calc( ( 100% / 3 ) - ( ( var(--gap) * 2 ) / 3 ) );
}

.col-2 {
    flex-basis: calc( ( 100% / 3 * 2 ) - ( var(--gap) / 3 ) );
}

.card {
    padding: 2rem 1rem;
}

.blue-cards-section .card {
    color: #5A6E7F;
    font-weight: bold;
    height: 100%;
}

.blue-cards-section .card .btn {
    letter-spacing: 2px;
}

.blue-cards-section .card .img-container {
    position: relative;
    height: 100%;
}

.blue-cards-section .card img {
    position: absolute;
    bottom: -2rem;
    right: 20%;
    width: 200px;
}

.blue-cards-section .card .icon-big {
    font-size: 4rem;
}

.planning-p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.app-dev-img {
    width: 65%;
}

.app-dev-p {
    font-style: italic;
}